// 280px
// 350px
// 576px
// 768px
// 992px
// 1200px

@media (max-width: 1850px)
    .wrapper
        width: 90%
    body
        main
            section.sliderContainer
                grid-template-columns: 5% 51.5% 43.5%

//992 - 1199
@media (max-width: 1300px)
    body
        header
            .header-container
                .menu-container
                    .block:not(:first-child)
                        margin-left: 5px       
        main
            section.sliderContainer
                .control
                    grid-row: 4 / 5
                    align-self: start
                .sliderLeft
                    p
                        &:nth-of-type(2)
                            font-size: 40px
                        &:nth-of-type(3)
                            max-width: 450px
                .buttons
                    align-self: end


//768px - 991px
@media (max-width: 991px)
    .wrapper
        // width: 80%
    body
        header
            width: 100%
            flex-direction: column
            align-items: center
            height: auto
            .header-container
                justify-content: space-between
                .menu-container
                    display: none
                .email-container
                    display: none    
                .phone-container
                    display: none
                .burgerIcon
                    display: block
                    font-size: 25px
            .burgerMenu.responsive
                display: flex
                flex-direction: column
                padding-top: 25px
                padding-left: 10%
                align-self: flex-start
                a 
                    display: flex
                    align-items: center
                    border-bottom: 1px solid rgba(43, 45, 58, 0.1)
                    height: 50px
                    .imgContainer
                        display: flex
                        align-items: center
                        justify-content: center
                        height: 30px
                        width: 30px
                        margin-right: 23px
                button
                    background: #397DFF
                    border: none
                    border-radius: 6px
                    width: 340px
                    height: 40px
                    color: white
                    margin-top: 30px
                    font-size: 14px
                    cursor: pointer
                p
                    margin-top: 30px
                    font-size: 20px
                a.email
                    color: #397DFF
                    border: none
        main
            section.sliderContainer 
                .sliderLeft
                    p
                        &:nth-of-type(2)
                            font-size: 31px
                .control
                    align-self: center
                .buttons
                    button
                        width: 170px


@media (max-width: 767px)
    body
        main
            section.sliderContainer 
                .control
                    justify-self: center
                .sliderRight
                    margin: 0 10%
                    p 
                        width: 70%
                    .swiper-slide-next
                        margin-left: 0
                .buttons
                    button
                        width: 130px
// 350px - 575px
@media (max-width: 575px)
    body
        header
            .burgerMenu.responsive
                a 
                    font-size: 14px
                    height: 30px
                button
                    width: 300px
        main 
            section.sliderContainer
                grid-template-columns: 5% 45% 45% 5%
                .control
                    grid-column: 2 / 3
                    grid-row: 4 / 5 
                    justify-self: start
                    a
                        margin-right: 0
                    display: flex
                    width: 100%
                    justify-content: space-between
                .sliderLeft
                    grid-column: 2 / 4
                    grid-row: 1 / 4
                .sliderRight
                    grid-column: 3 / 4
                    grid-row: 4 / 5
                    margin: 0
                    padding: 0
                    h1 
                        margin: 0
                        padding: 0
                        text-align: center
                    p
                        display: none
                .buttons
                    grid-column: 2 / 4
                    grid-row: 3 / 4
            section.separator
                height: 45px
            section.sound 
                grid-template-columns: auto
                grid-template-rows: auto auto
                .rightPart
                    margin-top: -4px
        .popup
            width: 320px
            height: 350px
            .popup-container
                a.close
                    right: 10px
                    top: 10px
                p
                    &:nth-of-type(1)
                        font-size: 21px
                    &:nth-of-type(2)
                        font-size: 14px
                        width: 250px
                form
                    button
                        width: 260px
                        height: 40px
        section.popupCall
            .popup-container
                form 
                    input
                        width: 260px
                        height: 35px
                        &:nth-of-type(2)
                            margin-top: 15px
                    .styledCheckbox
                        .label
                            .text 
                                font-size: 10px
                                width: 230px
        section.popupConfirm
            .popup-container
                img.check
                p 
                    &:nth-of-type(1)
                        font-size: 15px
                        width: 300px
        section.popupBrif
            .popup-container
                form
                    textarea
                        width: 260px
                        height: 130px

        
@media (max-height: 575px)
    body
        main
            section.sliderContainer
                .buttons
                    grid-row: 4 / 5
                    align-self: center
                .sliderRight
                    grid-row: 2 / 4
                    p
                        display: none
                .control
                    align-self: center
        .popup
            height: 320px
            .popup-container
                form
                    button
                        height: 30px
        section.popupCall
            .popup-container
                form 
                    input
                        height: 35px
                        &:nth-of-type(2)
                            margin-top: 5px
        section.popupBrif
            .popup-container
                form
                    textarea
                        height: 140px 
// 280 - 349px
@media (max-width: 349px)
    body
        header
            .burgerMenu.responsive
                button
                    width: 220px
        main 
            section.sliderContainer
                .control
                    a 
                        // margin-right: 30px
                .sliderLeft
                    margin-top: 20px
                    align-self: start
                .buttons
                    button
                        width: 100px
        .popup
            width: 250px
            height: 350px
            .popup-container
                form
                    button
                        width: 220px
                        height: 40px
        section.popupCall
            .popup-container
                p
                    &:nth-of-type(1)
                        font-size: 16px
                    &:nth-of-type(2)
                        font-size: 12px
                        width: 220px
                form 
                    input
                        width: 220px
                        height: 35px
                        &:nth-of-type(2)
                            margin-top: 10px
                    .styledCheckbox
                        .label
                            .text 
                                font-size: 10px
                                width: 200px
        section.popupConfirm
            .popup-container
                img.check
                    width: 120px
                    height: 120px
                p
                    &:nth-of-type(1)
                        width: 200px  
        section.popupBrif
            .popup-container
                form
                    textarea
                        width: 220px
                        height: 110px     

@media (max-height: 349px)
    body
        main 
            section.sliderContainer
                .sliderLeft
                    p
                        &:first-of-type
                            margin-top: 20px
                        &:nth-of-type(3)
                            margin-top: 12px
                .sliderRight
                    h1 
                        margin: 0
                        padding: 0
                        text-align: center
                    p
                        display: none
        .popup
            width: 450px
            height: 260px
            .popup-container
                justify-content: center
                form
                    button
                        width: 400px
        section.popupCall
            .popup-container
                p 
                    &:nth-of-type(2)
                        margin-top: 5px    
                form
                    margin-top: 5px
                    justify-content: center
                    .styledCheckbox
                        margin-top: 5px
                        .label
                            .text 
                                width: 400px
                    button
                        margin-top: 5px
        section.popupConfirm
            .popup-container
                img.check
                    width: 100px
                    height: 100px
        section.popupBrif
            .popup-container
                form
                    textarea
                        height: 100px
                        width: 400px
                
        

            