// resolutions from landing 6 pages

//280px
//350px
// $screen-sm: 576px
// $screen-md: 768px
// $screen-lg: 992px
// $screen-xl: 1200px
 

//Пришлось сделать доп. для меню
@media (max-width: 1560px)
    .header-container
        margin-left: 150px
    .firstBlock
        .swiper-container-first
            .swiper-wrapper
                .swiper-slide
                    .text-wrapper
                        margin-left: 185px
            .buttons-container
                left: 185px

@media (max-width: 1320px)
    .header-container
        margin-left: 50px
    .firstBlock
        .swiper-container-first
            .swiper-wrapper
                .swiper-slide
                    .text-wrapper
                        margin-left: 50px
            .buttons-container
                left: 50px
@media (max-width: 1320px)
    .header-container
        margin-left: 50px
    .firstBlock
        .swiper-container-first
            .swiper-wrapper
                .swiper-slide
                    .text-wrapper
                        margin-left: 50px
            .buttons-container
                left: 50px
@media (max-width: 1220px)
    .header-container
        margin-left: 15px
    .firstBlock
        .swiper-container-first
            .swiper-wrapper
                .swiper-slide
                    .text-wrapper
                        margin-left: 15px
            .buttons-container
                left: 15px
@media (max-width: 1190px)
    header
        height: auto
        width: 100%
        justify-content: center
        .header-container
            flex-direction: column
            align-items: center
            .logo-container
                margin-bottom: 15px
            .menu-container
                margin-left: 0
                .border
                    margin-top: 0
            .email-container
                margin-left: 0
            .phone-container
                margin-left: 0
                margin-bottom: 15px

            

            

    
//@media (max-width: 768px)
// @media (max-width: 375px)
    //здесь будет мобильное меню
//768px - 1440px
// @media (max-width: 1750px)
    //header