* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #E5E5E5;
  font-family: 'Montserrat', sans-serif; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1920px;
  height: 91px;
  background: #EBEEF5; }

a {
  text-decoration: none; }

.header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 390px; }
  .header-container .logo-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px; }
    .header-container .logo-container .img-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header-container .logo-container .img-container img:first-of-type {
        margin-right: 5.89px; }
    .header-container .logo-container .first {
      position: relative;
      width: 149.1px;
      height: 15.38px;
      margin-top: 3.85px;
      background: #2D3786;
      border-radius: 3.92357px; }
      .header-container .logo-container .first .second {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        width: 147.13px;
        height: 15.38px;
        left: 4.9px;
        top: 3.85px;
        background: #397DFF;
        border-radius: 3.92357px; }
        .header-container .logo-container .first .second p {
          font-size: 9.80892px;
          color: #FFFFFF;
          margin: 0 auto;
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                  align-self: center; }
  .header-container .menu-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 29.96px; }
    .header-container .menu-container a {
      color: rgba(43, 45, 58, 0.7);
      font-size: 14px;
      margin-left: 33px; }
      .header-container .menu-container a:first-of-type {
        margin-left: 0; }
      .header-container .menu-container a:hover {
        color: #397DFF; }
      .header-container .menu-container a:hover .border {
        visibility: visible; }
      .header-container .menu-container a .border {
        margin: 0 auto;
        width: 48px;
        border-top: 3px solid #397DFF;
        margin-top: 34px;
        visibility: hidden; }
  .header-container .email-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 27px; }
    .header-container .email-container a img {
      margin-top: 5px; }
    .header-container .email-container a:nth-of-type(2) {
      text-decoration: none;
      margin-left: 10px;
      font-size: 13px;
      color: #000;
      font-weight: 600; }
  .header-container .phone-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 24px; }
    .header-container .phone-container .tel-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 10px;
      margin-left: 10px; }
      .header-container .phone-container .tel-container a {
        color: #397DFF;
        font-size: 11px; }
      .header-container .phone-container .tel-container p {
        margin-top: 0;
        font-size: 13px;
        font-weight: 600; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.firstBlock .swiper-container-first {
  height: 624px;
  position: relative;
  overflow: hidden; }
  .firstBlock .swiper-container-first .swiper-wrapper .swiper-slide {
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1920px;
    height: 624px;
    color: white; }
    .firstBlock .swiper-container-first .swiper-wrapper .swiper-slide .text-wrapper {
      margin-left: 385px;
      margin-top: 120px; }
      .firstBlock .swiper-container-first .swiper-wrapper .swiper-slide .text-wrapper p {
        margin: 0; }
        .firstBlock .swiper-container-first .swiper-wrapper .swiper-slide .text-wrapper p:first-of-type {
          font-size: 18px;
          line-height: 22px; }
        .firstBlock .swiper-container-first .swiper-wrapper .swiper-slide .text-wrapper p:nth-of-type(2) {
          font-size: 52px;
          line-height: 63px;
          margin-top: 12px;
          margin-left: -5px; }
        .firstBlock .swiper-container-first .swiper-wrapper .swiper-slide .text-wrapper p:nth-of-type(3) {
          font-size: 16px;
          line-height: 148%;
          margin-top: 24px;
          color: rgba(255, 255, 255, 0.8); }
  .firstBlock .swiper-container-first .swiper-wrapper .slide1 {
    background: url("../img/img1.jpg"); }
  .firstBlock .swiper-container-first .swiper-wrapper .slide2 {
    background: url("../img/img11.jpg"); }
  .firstBlock .swiper-container-first .swiper-wrapper .slide3 {
    background: url("../img/img12.jpg"); }
  .firstBlock .swiper-container-first .swiper-wrapper .slide4 {
    background: url("../img/img13.jpg"); }
  .firstBlock .swiper-container-first .swiper-wrapper .slide5 {
    background: url("../img/img14.jpg"); }
  .firstBlock .swiper-container-first .buttons-container {
    position: absolute;
    top: 370px;
    left: 385px;
    z-index: 1; }
    .firstBlock .swiper-container-first .buttons-container button {
      width: 186px;
      height: 48px;
      border-radius: 8px;
      box-sizing: border-box;
      font-size: 16px;
      color: white; }
      .firstBlock .swiper-container-first .buttons-container button:nth-of-type(1) {
        border: 1px solid #FFFFFF;
        background: none; }
      .firstBlock .swiper-container-first .buttons-container button:nth-of-type(2) {
        background: #397DFF;
        border: none;
        margin-left: 24px; }
  .firstBlock .swiper-container-first .swiper-container-second {
    width: 30%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden; }
    .firstBlock .swiper-container-first .swiper-container-second .swiper-wrapper .swiper-slide .text-wrapper {
      margin-left: 0;
      margin-top: 214px; }
      .firstBlock .swiper-container-first .swiper-container-second .swiper-wrapper .swiper-slide .text-wrapper h1 {
        font-size: 64px;
        color: #397DFF;
        margin-bottom: 12px; }
      .firstBlock .swiper-container-first .swiper-container-second .swiper-wrapper .swiper-slide .text-wrapper p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
        width: 282px;
        line-height: 160%; }
    .firstBlock .swiper-container-first .swiper-container-second .swiper-wrapper .swiper-slide .separator {
      position: absolute;
      top: 0;
      left: 450px;
      width: 450px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
    .firstBlock .swiper-container-first .swiper-container-second .swiper-wrapper .swiper-slide-next {
      opacity: 0.3;
      margin-left: 120px; }
    .firstBlock .swiper-container-first .swiper-container-second .swiper-button-prev,
    .firstBlock .swiper-container-first .swiper-container-second .swiper-button-next {
      position: absolute;
      margin-top: 150px;
      width: 32px;
      height: 32px; }
    .firstBlock .swiper-container-first .swiper-container-second .swiper-button-prev::after,
    .firstBlock .swiper-container-first .swiper-container-second .swiper-button-next::after {
      display: none; }
    .firstBlock .swiper-container-first .swiper-container-second .swiper-button-prev {
      background-image: url("../img/swiperLeft.png"); }
    .firstBlock .swiper-container-first .swiper-container-second .swiper-button-next {
      background-image: url("../img/swiperRight.png"); }
  .firstBlock .swiper-container-first section.popup.hidden {
    visibility: hidden; }
  .firstBlock .swiper-container-first section.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 538px;
    height: 407px;
    background: white;
    z-index: 1;
    border-radius: 16px; }
    .firstBlock .swiper-container-first section.popup img {
      position: absolute;
      margin: 16px 0 0 496px; }
    .firstBlock .swiper-container-first section.popup .popup-container {
      margin-top: 32px;
      margin-left: 42px; }
      .firstBlock .swiper-container-first section.popup .popup-container p {
        margin: 0; }
        .firstBlock .swiper-container-first section.popup .popup-container p:nth-of-type(1) {
          font-size: 24px;
          font-weight: 600; }
        .firstBlock .swiper-container-first section.popup .popup-container p:nth-of-type(2) {
          margin-top: 12px;
          font-size: 16px; }
      .firstBlock .swiper-container-first section.popup .popup-container form {
        margin-top: 28px; }
        .firstBlock .swiper-container-first section.popup .popup-container form input {
          width: 454px;
          height: 48px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 9px;
          padding-left: 15.32px; }
          .firstBlock .swiper-container-first section.popup .popup-container form input:hover {
            border: 1px solid #397DFF; }
          .firstBlock .swiper-container-first section.popup .popup-container form input::-webkit-input-placeholder {
            color: rgba(43, 45, 58, 0.5);
            font-size: 16px; }
          .firstBlock .swiper-container-first section.popup .popup-container form input::-moz-placeholder {
            color: rgba(43, 45, 58, 0.5);
            font-size: 16px; }
          .firstBlock .swiper-container-first section.popup .popup-container form input:-ms-input-placeholder {
            color: rgba(43, 45, 58, 0.5);
            font-size: 16px; }
          .firstBlock .swiper-container-first section.popup .popup-container form input::-ms-input-placeholder {
            color: rgba(43, 45, 58, 0.5);
            font-size: 16px; }
          .firstBlock .swiper-container-first section.popup .popup-container form input::placeholder {
            color: rgba(43, 45, 58, 0.5);
            font-size: 16px; }
          .firstBlock .swiper-container-first section.popup .popup-container form input:nth-of-type(2) {
            margin-top: 24px; }
        .firstBlock .swiper-container-first section.popup .popup-container form .input {
          margin-top: 52px;
          position: relative; }
          .firstBlock .swiper-container-first section.popup .popup-container form .input input.checkbox {
            width: 16px;
            height: 16px;
            position: absolute;
            left: -9999px; }
          .firstBlock .swiper-container-first section.popup .popup-container form .input input.checkbox:checked + label:before,
          .firstBlock .swiper-container-first section.popup .popup-container form .input input.checkbox:not(:checked) + label:before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 16px;
            height: 16px;
            border: 1px solid #397DFF;
            background-color: #EBEEF5;
            border-radius: 2px; }
          .firstBlock .swiper-container-first section.popup .popup-container form .input input.checkbox:checked + label:after,
          .firstBlock .swiper-container-first section.popup .popup-container form .input input.checkbox:not(:checked) + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 4px;
            width: 10px;
            height: 5px;
            border-radius: 1px;
            border-left: 2px solid #397DFF;
            border-bottom: 2px solid #397DFF;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
          .firstBlock .swiper-container-first section.popup .popup-container form .input input.checkbox:not(:checked) + label:after {
            opacity: 0; }
          .firstBlock .swiper-container-first section.popup .popup-container form .input input.checkbox:checked + label:after {
            opacity: 1; }
        .firstBlock .swiper-container-first section.popup .popup-container form label {
          display: block;
          font-size: 14px;
          margin-top: -22px;
          margin-left: 24px; }
          .firstBlock .swiper-container-first section.popup .popup-container form label span {
            color: #397DFF; }
        .firstBlock .swiper-container-first section.popup .popup-container form button {
          margin-top: 16px;
          width: 454px;
          height: 52px;
          background: #397DFF;
          border-radius: 8px;
          border: none;
          font-size: 18px;
          font-weight: 600;
          color: white; }
  .firstBlock .swiper-container-first section.popup2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 2; }
    .firstBlock .swiper-container-first section.popup2 .popup-container {
      margin: 0;
      width: 100%; }
      .firstBlock .swiper-container-first section.popup2 .popup-container img {
        margin-top: 34px;
        margin-left: 189px; }
      .firstBlock .swiper-container-first section.popup2 .popup-container p {
        margin-top: 218px; }
        .firstBlock .swiper-container-first section.popup2 .popup-container p:nth-of-type(1) {
          font-size: 18px;
          line-height: 162%;
          font-weight: 500;
          text-align: center; }
      .firstBlock .swiper-container-first section.popup2 .popup-container form {
        margin-left: 42px; }
        .firstBlock .swiper-container-first section.popup2 .popup-container form button {
          margin-top: 8px; }

section.separator {
  width: 1920px;
  height: 82px;
  background: #EBEEF5; }

section.sound .soundContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 620px;
  width: 1920px; }
  section.sound .soundContainer .leftPart {
    position: relative;
    width: 960px;
    background: #DAE3F6; }
    section.sound .soundContainer .leftPart img:nth-of-type(1) {
      position: absolute;
      top: 210px;
      left: 210px; }
    section.sound .soundContainer .leftPart img:nth-of-type(2) {
      position: absolute;
      top: 132px;
      left: 476px; }
    section.sound .soundContainer .leftPart img:nth-of-type(3) {
      position: absolute;
      top: 413px;
      left: 232px; }
  section.sound .soundContainer .rightPart {
    width: 960px;
    position: relative; }
    section.sound .soundContainer .rightPart img.speakerLeft {
      position: absolute;
      top: 58px;
      left: 184px; }
    section.sound .soundContainer .rightPart img.EllipseBigLeft {
      position: absolute;
      top: 73px;
      left: 172px; }
    section.sound .soundContainer .rightPart img.crossLeft {
      position: absolute;
      top: 96px;
      left: 195px; }
    section.sound .soundContainer .rightPart img.speakerRight {
      position: absolute;
      top: 58px;
      left: 693px; }
    section.sound .soundContainer .rightPart img.EllipseBigRight {
      position: absolute;
      top: 72px;
      left: 689px; }
    section.sound .soundContainer .rightPart img.EllipseSmallRight {
      position: absolute;
      top: 95px;
      left: 712px; }
    section.sound .soundContainer .rightPart .popup {
      visibility: hidden;
      position: absolute;
      z-index: 1;
      background: white;
      width: 352px;
      height: 180px;
      bottom: 524px;
      left: 33px;
      border-radius: 10px; }
      section.sound .soundContainer .rightPart .popup .popupContainer {
        position: relative;
        width: 100%;
        height: 100%; }
        section.sound .soundContainer .rightPart .popup .popupContainer img.close_icon2 {
          position: absolute;
          top: 12px;
          right: 16px; }
        section.sound .soundContainer .rightPart .popup .popupContainer img.cartoonSpeaker {
          position: absolute;
          top: 16px;
          right: 44px; }
        section.sound .soundContainer .rightPart .popup .popupContainer .popupContainer2 {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 17px;
          left: 24px; }
          section.sound .soundContainer .rightPart .popup .popupContainer .popupContainer2 p {
            font-size: 18px; }
          section.sound .soundContainer .rightPart .popup .popupContainer .popupContainer2 ul {
            margin-top: 12px;
            list-style: none; }
            section.sound .soundContainer .rightPart .popup .popupContainer .popupContainer2 ul li {
              background: url(img/mark.png) no-repeat 0 0;
              padding-left: 24px;
              font-size: 12px;
              margin-bottom: 10px;
              line-height: 16px; }
      section.sound .soundContainer .rightPart .popup .popupContainer::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -20px;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        border: 10px solid transparent;
        border-top: 10px solid white; }

/*# sourceMappingURL=style.css.map */
