* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #E5E5E5;
  font-family: 'Montserrat', sans-serif; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1920px;
  height: 91px;
  background: #EBEEF5; }

a {
  text-decoration: none; }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 390px; }
  .header-container .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px; }
    .header-container .logo-container .img-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header-container .logo-container .img-container img:first-of-type {
        margin-right: 5.89px; }
    .header-container .logo-container .first {
      position: relative;
      width: 149.1px;
      height: 15.38px;
      margin-top: 3.85px;
      background: #2D3786;
      border-radius: 3.92357px; }
      .header-container .logo-container .first .second {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        width: 147.13px;
        height: 15.38px;
        left: 4.9px;
        top: 3.85px;
        background: #397DFF;
        border-radius: 3.92357px; }
        .header-container .logo-container .first .second p {
          font-size: 9.80892px;
          color: #FFFFFF;
          margin: 0 auto;
          -ms-flex-item-align: center;
          align-self: center; }
  .header-container .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-left: 29.96px; }
    .header-container .menu-container a {
      color: rgba(43, 45, 58, 0.7);
      font-size: 14px;
      margin-left: 33px; }
      .header-container .menu-container a:first-of-type {
        margin-left: 0; }
      .header-container .menu-container a:hover {
        color: #397DFF; }
      .header-container .menu-container a:hover .border {
        visibility: visible; }
      .header-container .menu-container a .border {
        margin: 0 auto;
        width: 48px;
        border-top: 3px solid #397DFF;
        margin-top: 34px;
        visibility: hidden; }
  .header-container .email-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 27px; }
    .header-container .email-container a img {
      margin-top: 5px; }
    .header-container .email-container a:nth-of-type(2) {
      text-decoration: none;
      margin-left: 10px;
      font-size: 13px;
      color: #000;
      font-weight: 600; }
  .header-container .phone-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 24px; }
    .header-container .phone-container .tel-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 10px;
      margin-left: 10px; }
      .header-container .phone-container .tel-container a {
        color: #397DFF;
        font-size: 11px; }
      .header-container .phone-container .tel-container p {
        margin-top: 0;
        font-size: 13px;
        font-weight: 600; }

section.slider .main-image {
  position: relative; }
  section.slider .main-image .mainText-container {
    position: absolute;
    top: 123px;
    left: 390px; }
    section.slider .main-image .mainText-container p {
      color: white;
      margin: 0; }
      section.slider .main-image .mainText-container p:first-of-type {
        font-size: 18px;
        line-height: 22px; }
      section.slider .main-image .mainText-container p:nth-of-type(2) {
        font-size: 52px;
        line-height: 63px;
        margin-top: 12px;
        margin-left: -5px; }
      section.slider .main-image .mainText-container p:nth-of-type(3) {
        font-size: 16px;
        line-height: 148%;
        margin-top: 24px;
        color: rgba(255, 255, 255, 0.8); }
    section.slider .main-image .mainText-container .buttons-container {
      margin-top: 54px; }
      section.slider .main-image .mainText-container .buttons-container button {
        width: 186px;
        height: 48px;
        border-radius: 8px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px;
        color: white; }
        section.slider .main-image .mainText-container .buttons-container button:nth-of-type(1) {
          border: 1px solid #FFFFFF;
          background: none; }
        section.slider .main-image .mainText-container .buttons-container button:nth-of-type(2) {
          background: #397DFF;
          border: none;
          margin-left: 24px; }
  section.slider .main-image section.popup.hidden {
    visibility: hidden; }
  section.slider .main-image section.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 538px;
    height: 407px;
    background: white;
    z-index: 1;
    border-radius: 16px; }
    section.slider .main-image section.popup img {
      position: absolute;
      margin: 16px 0 0 496px; }
    section.slider .main-image section.popup .popup-container {
      margin-top: 32px;
      margin-left: 42px; }
      section.slider .main-image section.popup .popup-container p {
        margin: 0; }
        section.slider .main-image section.popup .popup-container p:nth-of-type(1) {
          font-size: 24px;
          font-weight: 600; }
        section.slider .main-image section.popup .popup-container p:nth-of-type(2) {
          margin-top: 12px;
          font-size: 16px; }
      section.slider .main-image section.popup .popup-container form {
        margin-top: 28px; }
        section.slider .main-image section.popup .popup-container form input {
          width: 454px;
          height: 48px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 9px;
          padding-left: 15.32px; }
          section.slider .main-image section.popup .popup-container form input:hover {
            border: 1px solid #397DFF; }
          section.slider .main-image section.popup .popup-container form input::-webkit-input-placeholder {
            color: rgba(43, 45, 58, 0.5);
            font-size: 16px; }
          section.slider .main-image section.popup .popup-container form input::-moz-placeholder {
            color: rgba(43, 45, 58, 0.5);
            font-size: 16px; }
          section.slider .main-image section.popup .popup-container form input:-ms-input-placeholder {
            color: rgba(43, 45, 58, 0.5);
            font-size: 16px; }
          section.slider .main-image section.popup .popup-container form input::-ms-input-placeholder {
            color: rgba(43, 45, 58, 0.5);
            font-size: 16px; }
          section.slider .main-image section.popup .popup-container form input::placeholder {
            color: rgba(43, 45, 58, 0.5);
            font-size: 16px; }
          section.slider .main-image section.popup .popup-container form input:nth-of-type(2) {
            margin-top: 24px; }
        section.slider .main-image section.popup .popup-container form input.checkbox {
          width: 16px;
          height: 16px;
          margin-top: 32px; }
        section.slider .main-image section.popup .popup-container form label {
          display: block;
          font-size: 14px;
          margin-top: -22px;
          margin-left: 24px; }
          section.slider .main-image section.popup .popup-container form label span {
            color: #397DFF; }
        section.slider .main-image section.popup .popup-container form button {
          margin-top: 16px;
          width: 454px;
          height: 52px;
          background: #397DFF;
          border-radius: 8px;
          border: none;
          font-size: 18px;
          font-weight: 600;
          color: white; }
  section.slider .main-image section.popup2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2; }
    section.slider .main-image section.popup2 .popup-container {
      margin: 0;
      width: 100%; }
      section.slider .main-image section.popup2 .popup-container img {
        margin-top: 34px;
        margin-left: 189px; }
      section.slider .main-image section.popup2 .popup-container p {
        margin-top: 218px; }
        section.slider .main-image section.popup2 .popup-container p:nth-of-type(1) {
          font-size: 18px;
          line-height: 162%;
          font-weight: 500;
          text-align: center; }
      section.slider .main-image section.popup2 .popup-container form {
        margin-left: 42px; }
        section.slider .main-image section.popup2 .popup-container form button {
          margin-top: 8px; }

section.separator {
  width: 1920px;
  height: 82px;
  background: #EBEEF5; }

section.sound .soundContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 620px;
  width: 1920px; }
  section.sound .soundContainer .leftPart {
    position: relative;
    width: 960px;
    background: #DAE3F6; }
    section.sound .soundContainer .leftPart img:nth-of-type(1) {
      position: absolute;
      top: 210px;
      left: 210px; }
    section.sound .soundContainer .leftPart img:nth-of-type(2) {
      position: absolute;
      top: 132px;
      left: 476px; }
    section.sound .soundContainer .leftPart img:nth-of-type(3) {
      position: absolute;
      top: 413px;
      left: 232px; }
  section.sound .soundContainer .rightPart {
    width: 960px;
    position: relative; }
    section.sound .soundContainer .rightPart img.speakerLeft {
      position: absolute;
      top: 58px;
      left: 184px; }
    section.sound .soundContainer .rightPart img.EllipseBigLeft {
      position: absolute;
      top: 73px;
      left: 172px; }
    section.sound .soundContainer .rightPart img.crossLeft {
      position: absolute;
      top: 96px;
      left: 195px; }
    section.sound .soundContainer .rightPart img.speakerRight {
      position: absolute;
      top: 58px;
      left: 693px; }
    section.sound .soundContainer .rightPart img.EllipseBigRight {
      position: absolute;
      top: 72px;
      left: 689px; }
    section.sound .soundContainer .rightPart img.EllipseSmallRight {
      position: absolute;
      top: 95px;
      left: 712px; }
    section.sound .soundContainer .rightPart .popup {
      position: absolute;
      z-index: 1;
      background: white;
      width: 352px;
      height: 180px;
      bottom: 524px;
      left: 33px;
      border-radius: 10px; }
      section.sound .soundContainer .rightPart .popup .popupContainer {
        position: relative;
        width: 100%;
        height: 100%; }
        section.sound .soundContainer .rightPart .popup .popupContainer img.close_icon2 {
          position: absolute;
          top: 12px;
          right: 16px; }
        section.sound .soundContainer .rightPart .popup .popupContainer img.cartoonSpeaker {
          position: absolute;
          top: 16px;
          right: 44px; }
        section.sound .soundContainer .rightPart .popup .popupContainer .popupContainer2 {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 17px;
          left: 24px; }
          section.sound .soundContainer .rightPart .popup .popupContainer .popupContainer2 p {
            font-size: 18px; }
          section.sound .soundContainer .rightPart .popup .popupContainer .popupContainer2 ul {
            margin-top: 12px;
            list-style: none; }
            section.sound .soundContainer .rightPart .popup .popupContainer .popupContainer2 ul li {
              background: url(img/mark.png) no-repeat 0 0;
              padding-left: 24px;
              font-size: 12px;
              margin-bottom: 10px;
              line-height: 16px; }
      section.sound .soundContainer .rightPart .popup .popupContainer::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -20px;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        border: 10px solid transparent;
        border-top: 10px solid white; }

/*# sourceMappingURL=style.css.map */
