<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(href!="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/swiper-bundle.min.css")
        link(rel="stylesheet", href="css/normalize.css")
        title DJ Store
        script(src="js/swiper-bundle.min.js")
        script(src="js/script.js")
    body
        header.burgerPlace
            .header-container.wrapper
                .logo-container
                    .img-container
                        img(src="img/djstoreLogo.png", alt="")
                        img(src="img/djstore.png", alt="")
                    .first
                        .second
                            p ИНСТАЛЛЯЦИИ
                .menu-container
                    .block
                        a(href="#") Главная
                        .border
                    .block
                        a(href="#") Проекты
                        .border
                    .block
                        a(href="#") Услуги
                        .border
                    .block
                        a(href="#") О компании
                        .border
                    .block
                        a(href="#") Готовые решения
                        .border
                    .block
                        a(href="#") Контакты
                        .border
                .burgerIcon
                    a.burgerIconSymbol(href="#", onclick="changeIcon()") ☰
                
                .email-container
                    a(href="#") 
                        img(src="img/mailIcon.png", alt="")
                    a(href="#") info@sld-store.ru
                .phone-container
                    a(href="")
                        a(href="#", id="openClick11")
                            img(src="img/phone_icon.png", alt="")
                    .tel-container
                        a(href="#", id="openClick12") Обратный звонок
                        p 8 812 615-62-79
            .burgerMenu.wrapper
                a(href="#")
                    .imgContainer
                        img(src="img/m_menu1.png", alt="") 
                    |Главная
                a(href="#")
                    .imgContainer
                        img(src="img/m_menu2.png", alt="") 
                    |Проекты
                a(href="#")
                    .imgContainer
                        img(src="img/m_menu3.png", alt="") 
                    |Услуги
                a(href="#")
                    .imgContainer
                        img(src="img/m_menu4.png", alt="") 
                    |О компании
                a(href="#")
                    .imgContainer
                        img(src="img/m_menu5.png", alt="") 
                    |Готовые решения
                a(href="#")
                    .imgContainer
                        img(src="img/m_menu6.png", alt="") 
                    |Контакты
                button(type="button") Заполнить бриф
                p Напишите нам
                a.email(href="#")
                    .imgContainer
                        img(src="img/m_menu_mail_icon.png", alt="")
                    |info@sld-store.ru
        main
            section.sliderContainer
                .sliderBackground
                    .swiper-wrapper
                        .swiper-slide.bgSlide1
                        .swiper-slide.bgSlide2
                        .swiper-slide.bgSlide3
                        .swiper-slide.bgSlide4
                        .swiper-slide.bgSlide5
                .control
                    a.swiper-prev
                        img(src="img/swiperLeft.png", alt="")
                    a.swiper-next 
                        img(src="img/swiperRight.png", alt="")
                .sliderLeft
                    .swiper-wrapper
                        .swiper-slide.leftSlide
                            p Оснащение конференц-залов
                            p Видео конференции
                            p Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контента.
                        .swiper-slide.leftSlide
                            p Далеко-далеко
                            p Рыбные тексты
                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Взгляд города свой проектах дал скатился семантика?
                        .swiper-slide.leftSlide
                            p Cловесные горы
                            p Взгляд города
                            p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Даль имени рекламных пор одна до, семантика залетают решила всемогущая.
                        .swiper-slide.leftSlide
                            p Парадигматический составитель
                            p Алфавит переписывает
                            p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Даль имени рекламных пор одна до, семантика залетают решила всемогущая.
                        .swiper-slide.leftSlide
                            p Всемогущая запятая
                            p Свои города
                            p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Даль имени рекламных пор одна до, семантика залетают решила всемогущая.
                .sliderRight
                    .swiper-wrapper
                        .swiper-slide
                            h1 01
                            p Простота использования оснащения позволяет решать функциональные и организационные задачи, оптимизировать работу, проводить мероприятия различного масштаба.
                        .swiper-slide
                            h1 02
                            p Применение инновационных решений для демонстрации культурных и исторических реликвий – актуальная тенденция, которая успешно применяется.
                        .swiper-slide
                            h1 03
                            p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Букв но своих моей большого проектах свой правилами, продолжил текстов речью своего мир. Власти, сих.
                        .swiper-slide
                            h1 04
                            p  Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Коварный от всех он вскоре, ты запятых то лучше, вопроса великий гор, за рукописи власти большой.
                        .swiper-slide
                            h1 05
                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Коварный от всех он вскоре, ты запятых то лучше, вопроса великий гор, за рукописи власти большой.
                .buttons
                    button(type="button") Обратный звонок
                    button(type="button") Заполнить бриф
                
    

                //-     section.popup.hidden(id="popupWindow1")
                //-         a.close1(href="#", id="close")
                //-             img(src="img/close_icon.png", alt="")
                //-         .popup-container
                //-             p Готовы обсудить проект?
                //-             p Заполните форму ниже и мы свяжемся с вами.
                //-             form(id="send")
                //-                 input(type="text", placeholder="Имя*", required)
                //-                 input(type="text", placeholder="Телефон*", required)
                //-                 <br>
                //-                 .input
                //-                     label.label 
                //-                         input.checkbox(type="checkbox", required)
                //-                         span.fake
                //-                         = '\n'
                //-                         span.text Я согласен с условиями обработки 
                //-                             a(href="#") персональных данных
                //-                 button(type="submit") Отправить
                //-     section.popup.hidden.popup2(id="popupWindow2")
                //-         .popup2-container
                //-             a.close2(href="#", id="close2")
                //-                 img(src="img/close_icon.png", alt="")
                //-             img.check(src="img/check.png", alt="")
                //-             p.
                //-                 Ваша заявка успешно отправлена.<br>
                //-                 Ожидайте звонка в ближайшее время!
                //-             form
                //-                 button(type="button", id="close22") Ок
    //- section.separator
    //-     section.sound
    //-         .soundContainer
    //-             .leftPart
    //-                 img(src="img/electro_voice_1-removebg-preview.png", alt="")
    //-                 img(src="img/image-removebg-preview.png", alt="")
    //-                 img(src="img/shadow.png", alt="")
    //-             .rightPart
    //-                 img(src="img/img2.jpg", alt="")
    //-                 img.speakerLeft(src="img/Electro_Voice_EVID_42T_s250-removebg-preview 1.png", alt="")
    //-                 a(href="",id="openClick31")
    //-                     img.EllipseBigLeft(src="img/EllipseBig.png", alt="")
    //-                 a(href="",id="openClick32")
    //-                     img(src="img/cross.png", class="crossLeft", alt="")
    //-                 img.speakerRight(src="img/Electro_Voice_EVID_42T_s250-removebg-preview 2.png", alt="")
    //-                 img.EllipseBigRight(src="img/EllipseBig.png", alt="")
    //-                 img.EllipseSmallRight(src="img/EllipseSmall.png", alt="")
    //-                 .popup(id="popupWindow3")
    //-                     .popupContainer
    //-                         a.close_icon2(href="#",id="close3")
    //-                             img(src="img/close_icon2.png", alt="")
    //-                         img.cartoonSpeaker(src="img/cartoonSpeaker.png", alt="")
    //-                         .popupContainer2
    //-                             p Electro-Voice
    //-                             p EVID 4.2
    //-                             ul
    //-                                 li Очень мягкое звучание.
    //-                                 li Чувствительность — 89 дБ.
    //-                                 li Пиковая мощность — 400 Вт.
    //-                                 li Степень влагозащищенности IP34.
    footer
        script(src="js/swiper-bundle.min.js")
        script(src="js/script.js")


        




                    


