<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(href!="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet")
        title test
    body
        header
            .header-container
                .logo-container
                    .img-container
                        img(src="img/djstoreLogo.png", alt="")
                        img(src="img/djstore.png", alt="")
                    .first
                        .second
                            p ИНСТАЛЛЯЦИИ
                .menu-container
                    a(href="#") Главная
                        .border
                    a(href="#") Проекты
                        .border
                    a(href="#") Услуги
                        .border
                    a(href="#") О компании
                        .border
                    a(href="#") Готовые решения
                        .border
                    a(href="#") Контакты
                        .border
                .email-container
                    a(href="#") 
                        img(src="img/mailIcon.png", alt="")
                    a(href="#") info@sld-store.ru
                .phone-container
                    a(href="")
                        a(href="#", id="open1")
                            img(src="img/phone_icon.png", alt="")
                    .tel-container
                        a(href="#", id="open2") Обратный звонок
                        p 8 812 615-62-79
        body
            section.slider
                .main-image
                    img(src="img/img1.jpg", alt="")
                    .mainText-container
                        p Оснащение конференц-залов
                        p Видео конференции
                        p. 
                            Профессиональное оборудование для конференц-залов<br>
                            предназначено для проведения и организации презентаций,<br> 
                            совещаний, бизнес-тренингов и онлайн-трансляции контента.
                        .buttons-container
                            button(type="button", id="open3") Обратный звонок
                            button(type="button") Заполнить бриф
                    section.popup.hidden
                        a(href="#", id="close")
                            img(src="img/close_icon.png", alt="")
                        .popup-container
                            p Готовы обсудить проект?
                            p Заполните форму ниже и мы свяжемся с вами.
                            form(id="send")
                                input(type="text", placeholder="Имя*", required)
                                input(type="text", placeholder="Телефон*", required)
                                <br>
                                input(type="checkbox", class="checkbox", id="checkbox", required)
                                label(for="checkbox") Я согласен с условиями обработки <span>персональных данных</span>
                                button(type="submit") Отправить
                    section.popup.popup2.hidden
                        a(href="#", id="close2")
                            img(src="img/close_icon.png", alt="")
                        .popup-container
                            img(src="img/check.png", alt="")
                            p.
                                Ваша заявка успешно отправлена.<br>
                                Ожидайте звонка в ближайшее время!
                            form
                                button(type="button", id="close22") Ок
                            
        footer
            script(src='script.js')

                    


