<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(href!="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="swiper.css")
        link(rel="stylesheet", href="swiper.min.css")
        title test
    body
        header
            .header-container
                .logo-container
                    .img-container
                        img(src="img/djstoreLogo.png", alt="")
                        img(src="img/djstore.png", alt="")
                    .first
                        .second
                            p ИНСТАЛЛЯЦИИ
                .menu-container
                    a(href="#") Главная
                        .border
                    a(href="#") Проекты
                        .border
                    a(href="#") Услуги
                        .border
                    a(href="#") О компании
                        .border
                    a(href="#") Готовые решения
                        .border
                    a(href="#") Контакты
                        .border
                .email-container
                    a(href="#") 
                        img(src="img/mailIcon.png", alt="")
                    a(href="#") info@sld-store.ru
                .phone-container
                    a(href="")
                        a(href="#", id="openClick11")
                            img(src="img/phone_icon.png", alt="")
                    .tel-container
                        a(href="#", id="openClick12") Обратный звонок
                        p 8 812 615-62-79
        body
            section.slider
                .main-image
                    img(src="img/img1.jpg", alt="")
                    .mainText-container
                        p Оснащение конференц-залов
                        p Видео конференции
                        p. 
                            Профессиональное оборудование для конференц-залов<br>
                            предназначено для проведения и организации презентаций,<br> 
                            совещаний, бизнес-тренингов и онлайн-трансляции контента.
                        .buttons-container
                            button(type="button", id="openClick13") Обратный звонок
                            button(type="button") Заполнить бриф
                    section.popup.hidden(id="popupWindow1")
                        a(href="#", id="close")
                            img(src="img/close_icon.png", alt="")
                        .popup-container
                            p Готовы обсудить проект?
                            p Заполните форму ниже и мы свяжемся с вами.
                            form(id="send")
                                input(type="text", placeholder="Имя*", required)
                                input(type="text", placeholder="Телефон*", required)
                                <br>
                                .input
                                    input(type="checkbox", class="checkbox", id="checkbox", required)
                                    label(for="checkbox") 
                                        a(href="#") Я согласен с условиями обработки <span>персональных данных</span>
                                button(type="submit") Отправить
                    section.popup.popup2.hidden(id="popupWindow2")
                        a(href="#", id="close2")
                            img(src="img/close_icon.png", alt="")
                        .popup-container
                            img(src="img/check.png", alt="")
                            p.
                                Ваша заявка успешно отправлена.<br>
                                Ожидайте звонка в ближайшее время!
                            form
                                button(type="button", id="close22") Ок
            section.separator
            section.sound
                .soundContainer
                    .leftPart
                        img(src="img/electro_voice_1-removebg-preview.png", alt="")
                        img(src="img/image-removebg-preview.png", alt="")
                        img(src="img/shadow.png", alt="")
                    .rightPart
                        img(src="img/img2.jpg", alt="")
                        img(src="img/Electro_Voice_EVID_42T_s250-removebg-preview 1.png", class="speakerLeft", alt="")
                        a(href="",id="openClick31")
                            img(src="img/EllipseBig.png", class="EllipseBigLeft", alt="")
                        a(href="",id="openClick32")
                            img(src="img/cross.png", class="crossLeft", alt="")
                        img(src="img/Electro_Voice_EVID_42T_s250-removebg-preview 2.png", class="speakerRight", alt="")
                        img(src="img/EllipseBig.png", class="EllipseBigRight", alt="")
                        img(src="img/EllipseSmall.png", class="EllipseSmallRight", alt="")
                        .popup(id="popupWindow3")
                            .popupContainer
                                a(href="#",id="close3")
                                    img(src="img/close_icon2.png", class="close_icon2", alt="")
                                img(src="img/cartoonSpeaker.png", class="cartoonSpeaker", alt="")
                                .popupContainer2
                                    p Electro-Voice
                                    p EVID 4.2
                                    ul
                                        li Очень мягкое звучание.
                                        li Чувствительность — 89 дБ.
                                        li Пиковая мощность — 400 Вт.
                                        li Степень влагозащищенности IP34.
        footer
            script(src='swiper.js')
            script(src='swiper.min.js')
            script(src='script.js')

                    


