<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(href!="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet")
        title test
    body
        header
            .header-container
                .logo-container
                    .img-container
                        img(src="img/djstoreLogo.png", alt="")
                        img(src="img/djstore.png", alt="")
                    .first
                        .second
                            p ИНСТАЛЛЯЦИИ
                .menu-container
                    a(href="#") Главная
                        .border
                    a(href="#") Проекты
                        .border
                    a(href="#") Услуги
                        .border
                    a(href="#") О компании
                        .border
                    a(href="#") Готовые решения
                        .border
                    a(href="#") Контакты
                        .border
                .email-container
                    a(href="#") 
                        img(src="img/mailIcon.png", alt="")
                    a(href="#") info@sld-store.ru
                .phone-container
                    a(href="")
                        a(href="#")
                            img(src="img/phone_icon.png", alt="")
                    .tel-container
                        a(href="#") Обратный звонок
                        p 8 812 615-62-79


