body 
    background: #E5E5E5
    font-family: 'Montserrat', sans-serif;
    margin: 0
header
    display: flex
    width: 1920px
    height: 91px
    background: #EBEEF5    
.header-container
    display: flex
    margin-left: 390px
    .logo-container
        display: flex
        flex-direction: column
        margin-top: 20px
        .img-container
            display: flex
            align-items: center
            img:first-of-type
                margin-right: 5.89px
        .first
            position: relative
            width: 149.1px
            height: 15.38px
            margin-top: 3.85px
            background: #2D3786
            border-radius: 3.92357px
            .second
                display: flex
                position: absolute
                width: 147.13px
                height: 15.38px
                left: 4.9px
                top: 3.85px
                background: #397DFF
                border-radius: 3.92357px
                p
                    font-size: 9.80892px
                    color: #FFFFFF
                    margin: 0 auto
                    align-self: center
    .menu-container
        display: flex
        align-items: flex-end
        margin-left: 29.96px
        a 
            color: rgba(43, 45, 58, 0.7)
            text-decoration: none
            font-size: 14px
            margin-left: 33px
            &:first-of-type
                margin-left: 0
            &:hover
                color: #397DFF
            &:hover .border
                visibility: visible
            .border
                margin: 0 auto                
                width: 48px
                border-top: 3px solid #397DFF
                margin-top: 34px
                visibility: hidden