*
    margin: 0
    padding: 0
    box-sizing: border-box
body 
    background: #E5E5E5
    font-family: 'Montserrat', sans-serif;
header
    display: flex
    width: 1920px
    height: 91px
    background: #EBEEF5
a 
    text-decoration: none
.header-container
    display: flex
    margin-left: 390px
    .logo-container
        display: flex
        flex-direction: column
        margin-top: 20px
        .img-container
            display: flex
            align-items: center
            img:first-of-type
                margin-right: 5.89px
        .first
            position: relative
            width: 149.1px
            height: 15.38px
            margin-top: 3.85px
            background: #2D3786
            border-radius: 3.92357px
            .second
                display: flex
                position: absolute
                width: 147.13px
                height: 15.38px
                left: 4.9px
                top: 3.85px
                background: #397DFF
                border-radius: 3.92357px
                p
                    font-size: 9.80892px
                    color: #FFFFFF
                    margin: 0 auto
                    align-self: center
    .menu-container
        display: flex
        align-items: flex-end
        margin-left: 29.96px

        a 
            color: rgba(43, 45, 58, 0.7)
            
            font-size: 14px
            margin-left: 33px
            &:first-of-type
                margin-left: 0
            &:hover
                color: #397DFF
            &:hover .border
                visibility: visible
            .border
                margin: 0 auto                
                width: 48px
                border-top: 3px solid #397DFF
                margin-top: 34px
                visibility: hidden
    .email-container
        display: flex
        align-items: center
        margin-left: 27px
        a
            img 
                margin-top: 5px
        a:nth-of-type(2)
            text-decoration: none
            margin-left: 10px
            font-size: 13px
            color: #000
            font-weight: 600
    .phone-container
        display: flex
        align-items: center
        margin-left: 24px
        .tel-container
            display: flex
            flex-direction: column
            margin-top: 10px
            margin-left: 10px
            a
                color: #397DFF
                font-size: 11px
            p
                margin-top: 0 
                font-size: 13px
                font-weight: 600
section.slider
    .main-image
        position: relative
        .mainText-container
            position: absolute
            top: 123px
            left: 390px
            p 
                color: white
                margin: 0
                &:first-of-type
                    font-size: 18px
                    line-height: 22px
                &:nth-of-type(2)
                    font-size: 52px
                    line-height: 63px
                    margin-top: 12px
                    margin-left: -5px
                &:nth-of-type(3)
                    font-size: 16px
                    line-height: 148%
                    margin-top: 24px
                    color: rgba(255, 255, 255, 0.8);
            .buttons-container
                margin-top: 54px
                button
                    width: 186px
                    height: 48px
                    border-radius: 8px
                    box-sizing: border-box
                    font-size: 16px
                    color: white
                    &:nth-of-type(1)
                        border: 1px solid #FFFFFF
                        background: none
                    &:nth-of-type(2)
                        background: #397DFF
                        border: none
                        margin-left: 24px
        section.popup.hidden
            visibility: hidden
        section.popup
            position: absolute
            top: 50%
            left: 50% 
            transform: translate(-50%, -50%)
            width: 538px
            height: 407px 
            background: white
            z-index: 1
            border-radius: 16px
            img 
                position: absolute
                margin: 16px 0 0 496px
            .popup-container
                margin-top: 32px
                margin-left: 42px
                p 
                    margin: 0
                    &:nth-of-type(1)
                        font-size: 24px
                        font-weight: 600
                    &:nth-of-type(2)
                        margin-top: 12px
                        font-size: 16px
                form 
                    margin-top: 28px
                    input
                        width: 454px
                        height: 48px
                        border: 1px solid rgba(0, 0, 0, 0.2)
                        border-radius: 9px
                        padding-left: 15.32px
                        &:hover
                            border: 1px solid #397DFF
                        &::placeholder
                            color: rgba(43, 45, 58, 0.5)
                            font-size: 16px
                        &:nth-of-type(2)
                            margin-top: 24px
                    input.checkbox
                        width: 16px
                        height: 16px
                        margin-top: 32px
                    label
                        display: block
                        font-size: 14px
                        margin-top: -22px
                        margin-left: 24px
                        span
                            color: #397DFF
                    button
                        margin-top: 16px
                        width: 454px
                        height: 52px
                        background: #397DFF
                        border-radius: 8px
                        border: none
                        font-size: 18px
                        font-weight: 600
                        color: white
        section.popup2 
            display: flex
            z-index: 2
            .popup-container
                margin: 0
                width: 100%
                img 
                    margin-top: 34px
                    margin-left: 189px
                p
                    margin-top: 218px
                    &:nth-of-type(1)
                        font-size: 18px
                        line-height: 162%
                        font-weight: 500
                        text-align: center
                form 
                    margin-left: 42px
                    button
                        margin-top: 8px
section.separator 
    width: 1920px
    height: 82px
    background: #EBEEF5
section.sound 
    .soundContainer
        display: flex
        height: 620px
        width: 1920px
        .leftPart
            position: relative
            width: 960px
            background: #DAE3F6
            // border: 1px solid red
            img:nth-of-type(1)
                position: absolute
                top: 210px
                left: 210px
            img:nth-of-type(2)
                position: absolute
                top: 132px
                left: 476px
            img:nth-of-type(3)
                position: absolute
                top: 413px
                left: 232px
        .rightPart
            width: 960px
            position: relative
            img.speakerLeft 
                position: absolute
                top: 58px
                left: 184px
            img.EllipseBigLeft 
                position: absolute
                top: 73px
                left: 172px
            img.crossLeft 
                position: absolute
                top: 96px
                left: 195px
            img.speakerRight 
                position: absolute
                top: 58px
                left: 693px
            img.EllipseBigRight 
                position: absolute
                top: 72px
                left: 689px
            img.EllipseSmallRight
                position: absolute
                top: 95px
                left: 712px
            .popup
                visibility: hidden
                position: absolute
                z-index: 1
                background: white
                width: 352px
                height: 180px
                bottom: 524px
                left: 33px
                border-radius: 10px
                .popupContainer
                    position: relative
                    width: 100%
                    height: 100%
                    img.close_icon2
                        position: absolute
                        top: 12px
                        right: 16px
                    img.cartoonSpeaker
                        position: absolute
                        top: 16px
                        right: 44px
                    .popupContainer2
                        position: absolute
                        width: 100%
                        height: 100%
                        top: 17px
                        left: 24px
                        p 
                            font-size: 18px
                        ul  
                            margin-top: 12px
                            list-style: none
                            li 
                                background:  url(img/mark.png) no-repeat 0 0
                                padding-left: 24px
                                font-size: 12px
                                margin-bottom: 10px
                                line-height: 16px
                .popupContainer::after 
                    content: '' 
                    position: absolute 
                    left: 50% 
                    bottom: -20px 
                    transform: translate(-50%, 0)
                    border: 10px solid transparent
                    border-top: 10px solid white

            

                        
                            
                

                        
                        
